

body{
    font-family: 'Nunito Sans', sans-serif;
    width: 100vw;
}

h2{
    font-size: 24px;
    font-weight: 800;
    line-height: 54px;
    color: #FF7F00;

}

h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 54px;
    color: #FF7F00;
}

h4{

}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700px;
}

.fs-18{
    font-size: 18px;
}

.fs-14{
    font-size: 14px;
}

.fs-12{
    font-size: 12px;
}

.c-light-grey{
    color: #A6A6A6!important;
}

button{
    border-radius: 10px!important;
    padding: 5px 10px;
    color: #fff;
    border: none;
    font-size: 20px!important;
}
.c-grey{
    color:#979797;
}

.c-orange{
    color: #FF7F00;
}

.c-blue{
    color: #1CA8FF;
}

.c-blue:hover{
    color: #0D2CFF;
}

.copy-link:hover .c-blue{
    color: #0D2CFF;
}

.copy-link-icn{
    position: relative;
    top: 5px;
}

/* Navbar */

nav{
    background-color: #fff;
    padding-right:9%;
    padding-left: 9%;;
}

.navbar{
    position: relative;
    z-index: 5;
}

.brand-logo{
    width: 100px;
}

.nav-right{
 justify-content: flex-end;
}

.around-icon{
    background-color: #F4F7FA;
    border-radius: 15px;;
    padding: 8px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 5px; 
}

.nav-icon-2{
    width: 36px;
    height: 34px;
}

nav .p1{
    color: #FF7F00;
    font-size: 18px;
    font-weight: bolder;
}

nav .p2{
    color: #979797;
    font-size: 14px;
    font-weight: bolder;
}

.dropdown-toggle::after{
    display: none;
}

.burger{
    position: relative;
    bottom: 7px;
    right: 5px;
}

.around-icon i{
    position: relative;
    padding: 0;
}

.burger-a{
    height: 50px;
    width: 50px;
    padding: 14px 6px;
    border-radius: 10px;
    position: relative;
    right: 10px;
}

.burger-a:hover{
    background-color: #F4F7FA;
}

.burger-a:focus {
    background-color: #F4F7FA;
}

.around-icon-burger{
    border-radius: 15px;
    padding: 8px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 5px;
}
.num{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #FF7F00;
    grid-column: 1/2;
    grid-row: 1/2;
    position: absolute;
    top: 60px;
    margin-left: 15px;
}

.num span{
    font-size: 10px;
    color: white;
    position: relative;
    top: 0.6px;
}

.menu{
    position: absolute;
    top: -100%;
    right: 9%;
    border-style: solid;
    border-width: 0.1px;
    border-radius: 10px;
    padding: 12px 0;
    z-index: 0;
    background-color: white;  
    display: none;
    border-color: #EDEDED;
    box-shadow: 1px 5px 5px 1px #EDEDED;
}

.menu div{
    width: 100%;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
    display: flex;
    align-content: center;
}

.menu i:before{
    font-size: 20px;
}
.flaticon-user:before, .flaticon-group:before{
    color: #FF7F00;
}
.flaticon-rocket:before{
    color: #54C470;
}

.animate{
    transform: translateY(265px);
    opacity: 1;
    display: block;
    position: absolute;
    right: 9%;
    transition-duration: 1s;
}

.menu div:hover{
    background-color: #F5EDED;
    color: #FF7F00;
}

.menu div:hover a{
    color: #FF7F00;
}


/* Navbar Bottom */

.nav-2{
    padding: 3% 9%;
}
.p-g{
    font-size: 20px;
    margin-right: 2rem;
    color:#777777;
    position: relative;
    padding-bottom: 2px;
    text-decoration: none;
}

.p-g:hover, .p-g:active, .p-g:visited, .p-g:focus{
   
    background-color: #fff; 
    background-image: linear-gradient(90deg, rgba(250,124,1,1) 50%, rgba(63,42,215,1) 100%)!important;
    background-size: 100%!important;
    background-repeat: repeat!important;
     background-clip: text;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important; 
    -moz-background-clip: text!important;
    -moz-text-fill-color: transparent!important;
    display: inline-block!important;

}

.p-g:hover::after, .p-g:active::after, .p-g:visited::after, .p-g:focus::after{
    content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #444;
  background: linear-gradient(90deg, rgba(250,124,1,1) 50%, rgba(63,42,215,1) 100%)!important;
}

.p-g-open{
    background-color: #fff; 
    background-image: linear-gradient(90deg, rgba(250,124,1,1) 50%, rgba(63,42,215,1) 100%)!important;
    background-size: 100%!important;
    background-repeat: repeat!important;
     background-clip: text;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important; 
    -moz-background-clip: text!important;
    -moz-text-fill-color: transparent!important;
    display: inline-block!important;
}

.p-g-open::after{
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #444;
    background: linear-gradient(90deg, rgba(250,124,1,1) 50%, rgba(63,42,215,1) 100%)!important;  
}

.btn-create{
    background-color: #54C470;
    border-color: #54C470;
}

.btn-create-style{
    background-color: rgb(24, 145, 54);
    border-color: #24d651;
    border-width: 2px;
    border-style: solid;
}


.btn-create:hover{
    background-color: rgb(24, 145, 54);
    border-color: #24d651;
}



@media (max-width:575px) {
    .brand-logo{
        width: 70px;
    }

    .p-g{
        margin-right: 7px;
        font-size: 15px;
    }

    .btn-create{
        font-size: 15px!important;
    }

    .navbar-brand img{
        width: 75px;
        height: 37.5px;
    }

    .user-img-div{
        width: 50px;
        height: 50px;
        border-radius: 5px;
        overflow: hidden;
    }

    .user-img-div img{
        width: 100%;
    }

    .around-icon{
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin-right: 5px;      
    }

    .burger-a{
        border-radius: 5px;
        background-color: #fff;
    }

    .around-icon i{
        position: relative;
        padding: 0;
    }

    .num{
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: #FF7F00;
        grid-column: 1/2;
        grid-row: 1/2;
        position: absolute;
        top: 35px;
        margin-left: 15px;
    }

    .num span{
        font-size: 6px;
        color: white;
        position: relative;
        top: 0.6px;
    }

    .navbar-brand img{
        width: 51px;
        height: 30px;
    }

    .calender form{
        width: 40%;
    }

    .animate{
        transform: translateY(175px);}
}

/* Main */

main{
    background-color: #F2F2F2;
}

.grid-main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 3fr 5fr;
    border-width: 1px;
    padding: 5% 9%;
    grid-column-gap: 40px;
    justify-content: center;
}

main .left{
    grid-column: 1/2;
    grid-row: 1/-1;
    border-width: 3px;
    border-radius: 25px;
    border-color: #fff;
    border-style: solid;
    background-color: #fff;
   
}

.left-top{
    background-color: #E8EBFA;
    padding: 0 0 0 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

}


.left-bottom{
    background-color: #fff;
    width: 100%;
}

main .calender{
    grid-column: 3/4;
    grid-row: 1/2;
    border-width: 1px;
    justify-self: end;
    align-self: start;
}

main .bottom-left{
    grid-column: 2/3;
    grid-row: 2/3;
    border-width: 1px;
    min-width: 228px;
}

main .bottom-right{
    grid-column: 3/4;
    grid-row: 2/3;
    border-width: 1px;
    min-width: 228px;
}

.cal-btn{
    color: #1CA8FF;
    border-color: #1CA8FF;
    border-radius: 20px!important;
    border-style: solid;
    font-size: 14px!important;
    padding: 10px 18px;
    font-weight: 600;
}

i {
    color: #0D2CFF;
}

.cal-btn:hover i{
    color: #fff;
    background-color: #1CA8FF;
}

.cal-btn:hover{
    background-color: #1CA8FF;   
}

p.user-name{
    color: #001DB0;
    font-size: 18px;
}

.user-img{
    border-style: solid;
    border-radius: 50%;
    border-color: #fff;
    border-width: 4px;
    height: 117px;
    width: 117px;
    overflow: hidden;
}

.user-img img{
    width: 100%;
    height: auto;
}

.p-comp-cat{
    color: #979797;
}

.view-insights{
    background: rgb(227,197,0);
    background: linear-gradient(125deg, rgba(227,197,0,1) 0%, rgba(248,122,2,1) 100%);
    font-size: 16px;
    width: 212px;
    /* padding: 10px 20px; */
}

.left-bottom-left p{
    font-size: 18px;
}

.left-bottom-left {
    margin-top: -70px;
    padding-left: 30px;
    padding-right: 30px;
}


.team-meet-img{
    overflow: hidden;
}
.team-meet-img img{
    width: 100%;
}

/* Bottom Left */

.bottom-left{
    background-color: #fff;
    border-radius: 10px;
    border-top-style:none;
    border-bottom-color: #F19502;
    border-bottom-style: solid;
    border-width: 10px!important ;
    height: 272px;
    align-self: end ;
}

.icn-sz{
    width: 33px;
    height: 33px;
}

.copy-img{
    width: 28px;
    height: 28px;
}

.hr{
    height: 1px;
    background-color: #D8D8D8;
}

.g-meet-img{
    position: relative;
    left: -5px;
}

/* Bottom Right */

.bottom-right{
    align-self: end;
    background-color: #fff;
    border-radius: 10px;
    border-top-style:none;
    border-bottom-color: #B302F1;
    border-bottom-style: solid;
    border-width: 10px!important ;
    height: 272px;
    align-self: end ;
}
@media (max-width:1024px){
    .grid-main{
        grid-column-gap: 20px;
    } 
}


@media (max-width:1000px) {
    .grid-main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 40px;
        grid-column-gap: 40px;
    }

    main .calender{
        grid-column: 1/-1;
        grid-row: 1/2; 
    }

    main .left{
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    main .bottom-left{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    main .bottom-right{
        grid-column: 2/3;
        grid-row: 3/4; 
    }

    .left-bottom-right{
        margin-left: 100px;
    }
}

@media (max-width:575px) {

    .grid-main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 30px;
        grid-column-gap: 40px;
        padding-top: 9%;
    }

    main .calender{
        grid-column: 1/-1;
        grid-row: 1/2; 
    }

    main .left{
        grid-column: 1/-1;
        grid-row: 2/3;
        border-radius: 10px;
    }

    main .bottom-left{
        grid-column: 1/2;
        grid-row: 3/4;
        height: 250px;
    }

    main .bottom-right{
        grid-column: 1/2;
        grid-row: 4/5; 
        height: 250px;

    }

    .left-top{
        padding: 0;
        justify-content: center!important;
        border-radius: 10px;
    }
    .left-bottom-right{
        margin-left: 0;
    }

    .view-insights{
        font-size: 14px!important;
        width: 160px;
        /* padding: 10px 20px; */

    }

    .view-insights img{
        height: 20px;
    }

}

.appoint{
    padding: 2.5% 9% 5% 9%;
    background-color: #F2F2F2;
}

.appoint-container{
    background-color: #fff;
    border-radius: 25px;
}

.bottom-border{
    border-top-width: 2px;
}

.apt-btn{
    border-radius: 30px !important;
    padding: 15px 0;
    font-size: 18px;
    color: crimson;
    width: 198px;
    position: relative;
    bottom: 14px;
}

.apt-btn i{
    position: relative;
    left: 13px;
    top: 2px;
}

td {
    font-size: 18px;
    padding-top: 30px!important;
    padding-bottom: 0!important;
}

th{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 30px!important;
}

.note-td-0{
    padding-top: 65px!important;
    padding-bottom: 35px!important;
}

.td-space{
    padding-top: 65px!important;
    padding-bottom: 35px!important;
}

/* .apt-btn1{
    background-color: #E6E4F5;
    color: #1E00FF;
}

.apt-btn2{
    background-color: #87FFA5;
    color: #004912;
}

.apt-btn3{
    background-color: #FFF0C6;
    color:#463D00;
}
.apt-btn4{
    background-color:#FFD1A6;
    color: #FF0000;
} */

/* .apt-btn1 i{
    color: #1E00FF;
}

.apt-btn2 i{
    color: #004912;
}

.apt-btn3 i{
    color:#463D00;
}
.apt-btn4 i{
    color: #FF0000;
} */

.tb-user-img-div{
    border-radius: 50%;
    width: 49px;
    height: 49px;
    background-color:lavenderblush;
  
}

.tb-user-div{
    position: relative;
    bottom: 10px;
}
.tb-user-div1{
    padding-top: 25px!important;
}

.apt-btn-dropdown{
    border-radius: 12px;
    padding-top: 10px ;
}

.apt-btn-dropdown li a{
    padding: 10px 30px;
}

.apt-btn1{
    position: relative;
    top: 20px;
}

.note-img{
    display: none;
    height: 25px;
    width: 25px;
    margin-left: 5px;
}

.textarea-div{
    display: none;
}

.txt-sbmt{
    background-color: #FF7F00;
    margin-top: 15px;
    float: left;
}

.note-td{
    width: 250px;
}

.create-div{
    width: 255px;
    background-color: #fff; 
    margin-top: 20px;
    padding: 15px 0;
    border-radius: 10px;
    border-color: #EDEDED;
    box-shadow: 1px 5px 5px 1px #EDEDED;
    border-width: 1px;
    border-style: solid;   
   
    display: none;
    position: absolute;
    right: -20%;
}

/* toggle drop down create button */
.animate-create{
    display: block;
    right: 8%;
}

.create-div-btn-div{
    padding: 10px 15px;

}
.create-div-btn-div:hover{
    background-color: #EBF4FE;
    cursor: pointer;
}

