body{
    font-family: 'Nunito Sans', sans-serif;
}

h2{
    font-size: 24px;
    font-weight: 800;
    line-height: 54px;
    color: #FF7F00;

}

h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 54px;
    color: #FF7F00;
}

button{
    border-radius: 15px;
}

/* Navbar */

nav{
    background-color: #fff;;
}

.nav-right{
 justify-content: flex-end;
}

.around-icon{
    background-color: #F4F7FA;
    border-radius: 15px;;
    padding: 10px;
}

.nav-icon-2{
    width: 36px;
    height: 34px;
}